@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');

html, body {
    height: 100%;
    margin-top: 0;
    background-color: #fffc01;
    color: #000000;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 5.2rem;
    font-weight: 900;
}


@media only screen and(min-width: 600px) {
    .wrapper h1 {
        content: "Fachry Azriel Fajdwani";
    }
}
